$primaryBackgroundColor: #3e434e;
$secondaryBackgroundColor: #5d6779;
$contentShadowDeepColor: #c2beb1;
$contentShadowColor: #ddded5;
$contentBackgroundColor: #eaeae8;

$textColor: #333;
$textReverseColor: $contentBackgroundColor;
